{% extends "layout.jinja2" %}
  {% block body %}

<div class="message-page">

      <h3> {{ msg }}</h3>
      <a href="{{request.route_url('search')}}">Back to search</a>
         
</div>
        


  {% endblock %}

