{% extends "layout.jinja2" %}
  {% block body %}


                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

            

            <h3> {{ msg }}</h3>
      
              <a href="{{request.route_url('search_test')}}">Back to search</a>
         

        


  {% endblock %}

