{% extends "layout.jinja2" %}
{% block body %}

  <div class="jumbotron">
    <h2>Admin.jinja2</h2>
    <p>Display a list of user info populated from the User table. Provide options to Remove user, Request a password updated Etc</p>
  </div>
  
{% endblock %}
