{% extends "layout.jinja2" %}
  {% block body %}
        <br>
        <br>
        <br>
        <br>
        <br>
         <article class="single-entry">
              <h5>Name: {{ entry.Name }}</h5>
              <h5>Symbol: {{ entry.Symbol }}</h5>
              <h5>LastPrice: {{ entry.LastPrice }}</h5>
              <h5>High: {{ entry.High }}</h5>
              <h5>Low: {{ entry.Low }}</h5>
              <h5>ChangePercent: {{ entry.ChangePercent }}</h5>
              <h5>Open: {{ entry.Open }}</h5>
              <h5>Volume: {{ entry.Volume }}</h5>
              <h5>MarketCap: {{ entry.MarketCap }}</h5>
              <h5>ChangePercentYTD: {{ entry.ChangePercentYTD }}</h5>

         </article>



  {% endblock %}