{% extends "layout.jinja2" %}
  {% block body %}




        <div class="button">
         <h1>Home_page_test content:</h1>
            <h3><a href="{{request.route_url('single_stock_info_test') }}">Look at a single stock info</a></h3>
        </div>
 



  {% endblock %}

