<!DOCTYPE html>
<html>

    <head>

           <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href='https://fonts.googleapis.com/css?family=PT+Serif|Montserrat' rel='stylesheet' type='text/css'>
            
    </head>

    <body>

        <header>

              <div class="nav">

              </div>

              <h1>Stocks<h1>
              
         </header>
          <main>
                    {% block body %} {% endblock %}
             
                    {% block section %} {% endblock %}
         
         </main>
        </body>

  
        <div class="footer">
              <p>Code Fellows | Code 401 - Python </p>
        </div>


</html>