{% extends "layout.jinja2" %}
{% block body %}

<div class="login-page">

      <div class="logo">
          <h1>stoc<span class="span1">K</span><span class="span2">watch</span></h1>
      </div>



    <form class="form" action="" method="POST">
      <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>

        <div  id="row-login" class="row">
       
            <div class="input-group" id="input">
              <span class="input-group-addon" id="basic-addon1">Username</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="username">
            </div>

            <div class="input-group" id="input">
              <span class="input-group-addon" id="basic-addon1">Password</span>
              <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" name="password">
            </div>
          </div>
      

        <div class="control_row">
          <!-- <input type="submit" name="Login" value="Login"/> -->
          <button type="submit" class="btn btn-default" id="colored-button">Login</button>
        </div>
    </form>

</div>

{% endblock %}
