{% extends "layout.jinja2" %}
{% block body %}


  <form action="{{ request.route_url('new_user') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group" id="input">
          <span class="input-group-addon" id="basic-addon1">User Name</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="username" value="{{ username }}">
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="input-group" id="input">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" name="password">
          </div>
          <div class="input-group" id="input">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" class="form-control" placeholder="Password Again" aria-describedby="basic-addon1" name="password_verify">
          </div>
          <div class="input-group" id="input">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" name="email" value="{{ email }}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-group" id="input">
            <span class="input-group-addon" id="basic-addon1">First Name</span>
            <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1" name="first_name" value="{{ first_name }}">
          </div>
          <div class="input-group" id="input">
            <span class="input-group-addon" id="basic-addon1">Last Name</span>
            <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1" name="last_name" value="{{ last_name }}">
          </div>
          <div class="input-group" id="input">
            <span class="input-group-addon" id="basic-addon1">Phone #</span>
            <input type="tel" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1" name="phone_number" value="{{ phone_number }}">
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

{% endblock %}
