{% extends "layout.jinja2" %}
{% block body %}   
      <!--This is the User Home View-->
      <!--User stocks and portfolio information will be listed here. The list will be populated from a postgres database.-->

      <div class="msg">
          <h3> {{ entry.msg }} </h3>
      </div>

      <table class="table table-inverse">
        <thead>
          <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Value</th>
            <th>Shares</th>
            <th>% of Portfolio</th>
            <th></th>
          </tr>
        </thead>
          <tbody>
            {% for stock in entry.stocks %}
              <tr>
                <th scope="row">{{ stock.id }}</th>
                <td><a href="/details/{{ stock }}"><bold>{{ stock }}</bold></a></td>
                <td>{{ entry.stocks[stock].y_values[-1] }}</td>
                <td></td>
                <td></td>
                <td>
                        <form action="/delete/{{stock}}" method="POST">
                        <input class="btn btn-default" type=submit name="delete_button" value="Delete"/>
                        </form>
                  </td>
              </tr>
            {% endfor %}
          </table>
  

              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script type="text/javascript">
                  google.charts.load('current', {packages: ['corechart', 'line']});
                  google.charts.setOnLoadCallback(drawCrosshairs);


              function drawCrosshairs() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'X');
              {% for stock in entry.stocks %}
                data.addColumn('number', '{{ stock }}');
              {% endfor %}
                rowData = [];
              {% for date in entry.dates %}
                rowData.push(['{{ date }}']);
              {% endfor %}

              for (i = 0; i < rowData.length; i++) {
                  {% for stock, val in entry.stocks.items() %}
                      rowData[i].push({{val.y_values}}[i]);
                  {% endfor %}
              };
              data.addRows(rowData)
              var options = {
                hAxis: {
                  title: 'Time'
                },
                vAxis: {
                  title: 'Percent Change'
                },
                title: 'Your Portfolio - Percent Change',
                pointSize: 8,
                height: 400,
                crosshair: {
                  color: '#000',
                  trigger: 'selection'
                }
              };


                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);
                chart.setSelection([{row: 38, column: 1}]);

              }
              </script>

              <div id="chart_div"></div>


{% endblock %}
