{% extends "layout.jinja2" %}
{% block body %}
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
  <div class="jumbotron">

      {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}

    <div>
        <div class="col-lg-6">
          <div class="input-group">

          <form action="{{ request.route_url('search') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>
            <input class="search_input" type="text" name="search"/>
            <input class="btn btn-default" type="submit" value="Search"/>
          </form>

          <h3>{{ msg }}</h3>

           {% for stock in stocks %}
              <article class="single-stock">



                      <form action="/add/{{stock.name}}/{{stock.id}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>
                        <input class="btn btn-default" type=submit name="add_button" value="Add"/>
                        <label for="add_button">{{ stock.symbol }} {{ stock.name }}</label>
                      </form>

               </article>
            {% endfor %}

          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

       </div>
    </div>

{% endblock %}
