{% extends "layout.jinja2" %}
  {% block body %}


      <form action="{{ request.route_url('search_test') }}" method="POST">

              <div class="search">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <input class="search_input" type="text" name="search"/>
                    <input class="button" type=submit value="Search"/> 
              </div>

        </form>

        <h3>{{ msg }}</h3>

      {% for stock in stocks %}
         <article class="single-stock">
              
              <h3>{{ stock.symbol }} {{ stock.name }}</h3>

              <form action="{{ request.route_url('add_test') }}" method="POST">
              <input class="button" type=submit value="Add"/>
              </form>
              
         </article>
      {% endfor %}


  {% endblock %}

