{% extends "layout.jinja2" %}
  {% block body %}


         <article class="single-entry">
              <h5>ChangePercentYTD {{ entry.ChangePercentYTD }}</h5>
              <h5>Symbol {{ entry.Symbol }}</h5>
              <h5>Name {{ entry.Name }}</h5>
              <h5>LastPrice {{ entry.LastPrice }}</h5>
              <h5>ChangePercent {{ entry.ChangePercent }}</h5>
          
         </article>



  {% endblock %}

ChangePercentYTD: 2.34657039711191
Volume: 2074678
Symbol: AAPL
MSDate: 42615.6659722222
MarketCap: 580496964390
ChangeYTD: 105.26
Timestamp: Fri Sep 2 15:59:00 UTC-04:00 2016
Name: Apple Inc
LastPrice: 107.73
High: 108
Open: 107.73
Status: SUCCESS
Change: 1
ChangePercent: 0.93694368968425
Low: 106.82