.logo {
  font-family: 'Monoton', cursive;
  color: #0a295e;
  text-align: center;
}

.logo h1 {
  font-size: 70px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.logo .span1 {
  color: #3c1518;
 }

.logo .span2 {
 font-family: 'Oswald', sans-serif;
 color: #0b104d;
}

#logo-small {
  font-family: 'Monoton', cursive;
  color: #0a295e;
}

#logo-small h1 {
  font-size: 60px;
  margin-bottom: 70px;
}

#logo-small .span1 {
  color: #3c1518;
 }

#logo-small .span2 {
 font-family: 'Oswald', sans-serif;
 color: #0b104d;
}

body {
  min-height: 500px;
  font-family: 'Muli', sans-serif;
  background-color: #ccccb3;
}

.bold {
  font-weight: bold;
}

input[type=number]{
    width: 60px;
}

.update-btn {
  padding: 0;
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.22857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#navbar-colored {
  color: #0b104d;
}

.navbar-brand {
  font-size: 1.3em;
}

#admin_table {
  font-size: 12px;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

html {
  position: relative;
  min-height: 100%;
}

.panel-footer {
 margin-top: 5rem;
 background-image: linear-gradient(#ccccb3, #FFF );
 border-top: none;
 height: 5rem;
 position: absolute;
 bottom: 0;
 width: 100%;
 text-align: center
}

.input-group {
  padding-bottom: 2rem;
  width: 100%;
}

.input-group-addon {
  min-width:60px;  // if you want width please write here //
  text-align:left;
}

.container {
    max-width: 900px;
}

.msg {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form {
  width: 70%
  margin: 0 auto;
  text-align: center;
}

.list_of_articles {
  text-align: left;

}

.single-stock {
  max-width: 400px;
  margin: 0 auto;
}

.login-page {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#row-login {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

#colored-button {
  background-color: #0b104d;
  color: white;
  transition: all 0.35s ease;
}

#colored-button:hover {
  color: #0b104d;
  background-color: white;
}

.search-input {
  width: 330px;
}

.page-header {
  text-align: center;
}

.centered-button {
  text-align: center;
}

.message-page {
  text-align: center;
  margin-top: 70px;
}
