body {
  min-height: 2000px;
  /*color: red;*/
  font-family: 'Muli', sans-serif;
  /*font-family: 'Orbitron', sans-serif;*/

  /*font-family: Verdana, sans-serif;*/
  /*color: blue;*/
  background-color: black;
}

.navbar-static-top {
  margin-bottom: 19px;
}
